
mixin demo(link)
  .demo
    = "Demo "
    a(href=link, target="_blank")= link

mixin site(link)
  .site
    = "Site "
    a(href=link, target="_blank")= link

mixin preview(link)
  image.preview(src=link)

doctype 5
html
  head
    title Cirru Programming Language
    link(rel="stylesheet", type="text/css", href="style/style.css")
    link(rel="icon", type="image/png", href="http://logo.cirru.org/cirru-32x32.png?v2")
    meta(name="author", content="google.com/+jiyinyiyong?rel=author")
    meta(name="description"
      content="Cirru is a indentation-based grammar for programming languages")
  body
  
    .project.entry
      .title Cirru Grammar
      .name Cirru
      mixin site("http://github.com/Cirru")
      mixin preview("http://logo.cirru.org/cirru-400x400.png")
      .desc
        tt= "/ˈsɪɹə/ "
        | indentation-based grammar for languages

    .project.entry
      .title Cirru Wiki
      mixin site("https://github.com/Cirru/cirru.org/wiki")
      a(href="https://github.com/jiyinyiyong/cirru-parser/wiki/About-Cirru"
        target="_blank")
        | Find more about Cirru on Github.
      .desc

    .project.entry
      .title Cirru on Twitter
      mixin site("https://twitter.com/cirrulang")
     .desc

    .project.entry
      .title Google+ Community of Cirru
      mixin site("https://plus.google.com/u/0/communities/107120169409482454805")
     .desc

    .project
      .title
        = "Cirru Editor "
        .mark (Outdated)
      .name cirru-editor
      mixin site("https://github.com/Cirru/cirru-editor")
      mixin demo("http://repo.jiyinyiyong.me/cirru-editor/")
      mixin preview("pics/cirru-editor.jpg")
      .desc

    .project
      .title Parser written in CoffeeScript
      .name cirru-parser
      mixin site("https://github.com/Cirru/cirru-parser")
      mixin demo("http://repo.jiyinyiyong.me/cirru-parser/")
      mixin preview("pics/cirru-parser.png")
      .desc

    .project
      .title Parser in Go
      .name cirru-grammar
      mixin site("https://github.com/Cirru/cirru-grammar")
      mixin preview("pics/cirru-grammar.png")
      .desc

    .project
      .title Run code in Go
      .name cirru-gopher
      mixin site("https://github.com/Cirru/cirru-gopher")
      mixin preview("pics/cirru-gopher.png")
      .desc

    .project
      .title
        = "Run Cirru in Node.js "
        span.mark (Outdated)
      .name cirru-interpreter
      mixin site("https://github.com/Cirru/cirru-interpreter") 
      mixin preview("pics/cirru-interpreter.png")
      .desc

    .project
      .title Write Mustache in Cirru
      .name cirru-mustache
      mixin site("https://github.com/Cirru/cirru-mustache")
      mixin demo("http://repo.jiyinyiyong.me/cirru-mustache/")
      mixin preview("pics/cirru-mustache.png")
      .desc

    .project
      .title Rainbow Plugin
      .name cirru-rainbow
      mixin site("https://github.com/Cirru/cirru-rainbow")
      mixin demo("http://repo.jiyinyiyong.me/cirru-rainbow/")
      mixin preview("pics/cirru-rainbow.png")
      .desc

    .project
      .title Highlight.js Plugin
      mixin site("https://github.com/Cirru/highlight.js")
      mixin demo("http://repo.jiyinyiyong.me/highlight.js/src/test.html")
      mixin preview("pics/cirru-highlightjs.png")
      .desc

    .project
      .title Pygments Plugin
      mixin site("https://bitbucket.org/birkenfeld/pygments-main/pull-request/275/add-syntax-for-cirru")
      mixin preview("pics/pygments-cirru.png")
      .desc
        | A fork of Pygments

    .project
      .title Custom-made Syntax Highlighting
      .name cirru-color
      mixin site("https://github.com/Cirru/cirru-color")
      mixin demo("http://repo.jiyinyiyong.me/cirru-color/")
      mixin preview("pics/cirru-color.png")
      .desc

    .project
      .title Sublime Text Package
      .name sublime-cirru
      mixin site("https://github.com/Cirru/sublime-cirru")
      mixin demo("https://sublime.wbond.net/packages/Cirru")
      mixin preview("pics/cirru-sublime.png")
      .desc

    .project
      .title Brackets Package
      .name brackets-cirru
      mixin site("https://github.com/Cirru/brackets-cirru")
      mixin demo("https://brackets-registry.aboutweb.com/")
      mixin preview("pics/cirru-brackets.png")
      .desc

    .project
      .title CodeMorror support
      .name cirru-mode
      mixin site("https://github.com/Cirru/cirru-mode")
      mixin demo("http://repo.jiyinyiyong.me/cirru-mode/")
      mixin preview("pics/cirru-mode.png")
      .desc

    .project
      .title Ace Editor support
      .name ace-cirru
      mixin site("https://github.com/Cirru/ace")
      mixin demo("http://repo.jiyinyiyong.me/ace/kitchen-sink.html")
      mixin preview("pics/ace-cirru.png")
      .desc

    .project
      .title Write JavaScrip AST with Cirru
      .name scirpus
      mixin site("https://github.com/Cirru/scirpus")
      mixin demo("http://repo.jiyinyiyong.me/scirpus/compiled/")
      mixin preview("pics/scirpus.png")
      .desc

  include ga